# Dependencies
/node_modules

# Build files (if you use a transpiler/bundler)
/dist
/build

# Logs
npm-debug.log*
*.log
.npm

# Environment variables and secrets
.env
.env.*
config/secrets.js # Or wherever your secrets are stored

# OS and Editor files
.DS_Store
Thumbs.db
*.swp
.idea/ # Common for JetBrains IDEs like WebStorm
.vscode/ # Common for VS Code settings