<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
</head>
<body>
<h1>Login Required</h1>
 
    <p>You must sign in to access your dashboard.</p>
 
    <a href="/login">
<button>Login with Microsoft</button>
</a>
</body>
</html>